body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  height: 100vh;
  background-image: url("img/stars.jpg");
  background-size: cover;
  background-repeat: no-repeat;
 
}

.maincontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

#content {
  text-align: center;
  border: 5px solid  #32F4FC;
  border-radius: 5px;
  border-collapse: collapse;
}

tbody {
  background-color: #072A40;
}



td {
  position: relative;
  width: 150px;
  height: 150px;
  border: 1px solid #32F4FC; /* Ändern Sie die Border-Farbe auf #32F4FC */
  font-size: 48px;
  cursor: pointer;
  border-collapse: collapse;
}

td {
  position: relative;
  text-align: center;
  border: 5px solid #32F4FC;
}

td svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}





.tr6 {
  border-bottom: 10px solid #32F4FC;
  border-left: 10px solid #32F4FC;
  border-right: 10px solid#32F4FC;
}

.tr3 {

  border-left: 10px solid #32F4FC;
  border-right: 10px solid #32F4FC;
  border-bottom: 5px solid #32F4FC;
}

.tr0 {
  border-top: 10px solid #32F4FC;
  border-left: 10px solid #32F4FC;
  border-right: 10px solid #32F4FC;
  border-bottom: 5px solid #32F4FC;
}




.td0:hover,
.td1:hover,
.td2:hover,
.td3:hover,
.td4:hover,
.td5:hover,
.td6:hover,
.td7:hover,
.td8:hover,
.td9:hover {
  background-color: whitesmoke;
}


.winning-cell {
  position: relative;
}

.winning-cell::before {
  z-index: 999;
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 10px;
  background-color: #32F4FC;
  transform: translateY(-50%);


}

.winning-cell.vertical::before {
  z-index: 999;
  left: 50%;
  top: 0;
  width: 10px;
  height: 100%;
  transform: translateX(-50%);
}
table {
  border-collapse: collapse;
}

.winning-cell.diagonal-1::before {
  width: 141.4%;
  height: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg) scaleX(1.2);
}

.winning-cell.diagonal-2::before {
  width: 141.4%;
  height: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg) scaleX(1.2);

}

h1 {
  color: white;
}



.imgcircle {
  width: 130px;
}

.imgcross {
  width: 130px;
}

.marked {
  border: 2px solid #32F4FC;
}
#win-message {
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 display: flex;
 justify-content: center;
 align-items: center;
 background-color: black;
 color: white;
 font-size: 40px;
 width: 100%;
 height: 100vh;
 position: absolute;
 background-image: url("img/stars.jpg");
 background-repeat: no repeat;
 background-size: cover;
} 

.win {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.winplayer {
  justify-content: center;
  display: flex;
  align-items: center;
  gap: 15px;
}
.winplayertie {
  justify-content: center;
  display: flex;
  align-items: center;
  margin-left: 22px;
}

.player1 {
  text-align: center;
  border-radius: 5px;
  border: 5px solid whitesmoke;
}

.player2 {
  text-align: center;
  border-radius: 5px;
  border: 5px solid whitesmoke;
}

#replay-button {
  border: none;
 margin-top: 40px;
 height: 50px;
 width: 200px;
 font-size: 30px;
 border: 2px solid white;
 border-radius: 5px;
 color: #072A40;
  background-color: #32F4FC;
  font-size: 30px;
  cursor: pointer;
  margin-left: 22px;
  
}


@media only screen and (max-width: 840px) {
 svg {
    width: 50px;
    margin: 0;
    padding: 0;
    height: 50px;

  }
  .player1,.player2 {
    width: 100px;
  }

  h1 {
    font-size: 24px;
    padding-bottom: 40px;
  }

  td {
    height: 100px;
    width: 100px;
  }

  .maincontainer {
    flex-direction: column;
  }

  svg{
   
    
  }

  h1 {
    margin: 0;
    padding: 0;
  }

  .player1 {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
  }

  .player2 {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
  }
}

@media only screen and (max-width: 510px) {
td {
  height: 70px;
  width: 70px;
}

svg {
  width: 30px;

}


}
